{% extends 'base.html.twig' %}

{% block title %}Résultat Match | {{ parent() }}{% endblock %}

{% block body %}


<div class="container">
    <table class="table table-striped table-dark mb-4 mt-4">
        <thead>
            <th>Equipe 1</th>
            <th>Score équipe 1</th>
            <th>Equipe 2</th>
            <th>Score équipe 2</th>
        </thead>
        <tbody>
        <form method="post" action="{{ path('event_enregistrer_resultats', {"idMatch": match.id}) }}">
        <td>{{ match.participation1.participant.name }}</td>
        <td><input type="number" name="score1"></td>
        <td>{{ match.participation2.participant.name }}</td>
        <td><input type="number" name="score2"></td>
        </tbody>
    </table>
    <button type="submit" class="btn btn-secondary">Valider</button>
    </form>
</div>
{% endblock %}
