{% extends 'base.html.twig' %}

{% block title %}Résultat Match | {{ parent() }}{% endblock %}

{% block body %}


<div class="container">
    <form method="post" id="monForm" action="{{ path('event_enregistrer_resultats_rencontre', {"idRencontre": rencontre.id}) }}">
    <table class="table table-striped table-dark mb-4 mt-4">
        <thead>
            <th>Equipe 1</th>
            <th>Score équipe 1</th>
            <th>Equipe 2</th>
            <th>Score équipe 2</th>
            <th scope="col">Détail</th>
        </thead>
        <tbody>

        <td>{{ rencontre.match.participation1.participant.name }}</td>
        <td><input type="number" name="score1"></td>
        <td>{{ rencontre.match.participation2.participant.name }}</td>
        <td><input type="number" name="score2"></td>
        <td><input type="text" id="detail" name="detail"></td>
        </tbody>
    </table>
    <button type="submit" class="btn btn-secondary">Valider</button>
    </form>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
        jQuery.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                if (regexp.constructor !== RegExp)
                    regexp = new RegExp(regexp);
                else if (regexp.global)
                    regexp.lastIndex = 0;
                return this.optional(element) || regexp.test(value);
            },"Mauvais format (ex: 11/0 11/5)"
        );
        $("#monForm").validate({
            rules: {
                "detail":{
                    "regex": /^([ 0-9]{1,2}\/[ 0-9]{1,2}[ ]{0,}){1,3}$/
                }
            }
        })
    })
</script>
{% endblock %}