{% extends 'base.html.twig' %}

{% block title %}Fields !{% endblock %}
{% block body %}
    <div class="container-fluid">


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Team1</th>
                <th scope="col">Team2</th>
                <th scope="col">Field</th>
                <th scope="col">Hour</th>
            </tr>
            </thead>
            <tbody>

            {% for match in matchs %}
            <tr>
                <td>{{ match.participation1.participant.name }}</td>
                <td>{{ match.participation2.participant.name }}</td>
                <td>{{ match.field }}</td>
                <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}