{% extends 'base.html.twig' %}

{% block title %}Edit an athlet!{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Edit an athlet</h1>
                <h3>{{ athlet.name }}</h3>
                {{ form_start(athletForm) }}
                {{ form_widget(athletForm) }}
                <button type="submit" id="btnSave">Save</button>
                {{ form_end(athletForm) }}
            </div>
        </div>
    </div>
{% endblock %}