{% extends 'base.html.twig' %}

{% block title %}Edit a Field !{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Edit a field</h1>
                <h3>{{ field.name }}</h3>
                {{ form_start(fieldForm) }}
                {{ form_widget(fieldForm) }}
                <button type="submit" id="btnSave">Save</button>
                {{ form_end(fieldForm) }}
            </div>
        </div>
    </div>
{% endblock %}